.aboutUs{
   width: 30%;
   max-width: 350px;
   min-width: 250px;
   /* flex-shrink: 1; */
   text-align: left;
   position: absolute;
   /* overflow: hidden; */
   background-color: #333;
   box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.3);
   margin: 15px;
}
.aboutUs h2{
   position: relative;
   top: 0px;
   text-align: center;
   font-weight: 500;
}
.aboutUs p{
   color: #bbb;
   padding: 7px;
   letter-spacing: 1px;
   line-height: 1.2em;

}
.aboutUs:nth-child(1){
   left: -100px;
   position: relative;
   top: 100px;
   opacity: 0;
}
.aboutUs:nth-child(2){
   position: relative;
   top: 100px;
   opacity: 0;
}
.aboutUs:nth-child(3){
   left: 100px;
   position: relative;
   top: 100px;
   opacity: 0;
}
.show .aboutContent .aboutUs{
   left: 0px;
   top: 0px;
   transition: 1s ease-out;
   opacity: 1;
}
.aboutImg{
   background-color: #FAB702;
   width: 100%;
   height: 18vw;
   min-height: 200px;
   position: relative;
   cursor: pointer;
}
.aboutImg figure{
   height: 100%;
   overflow: hidden;

}
.aboutImg figure img{
   transform: scale(1);
 display: block;
transition:  .5s;
min-width: 100%;
min-height: 100%;
height: 100%;
/* opacity: 0.75; */
filter: grayscale(10%);
}
.aboutImg p{
   text-transform: uppercase;
   font-size: 11px;
   font-weight: 800;
   letter-spacing: 2px;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
   display: block;
   z-index: 2;
   position: absolute;
   opacity: 0;
}
.aboutImg:hover figure img{
   transform: scale(1.3);
   opacity: .2;
}
.aboutImg:hover p{
   color: #18191b !important;

   font-size: 13px;
   letter-spacing: 2px;
   top: 50%;
   transition: .3s;
   opacity: 1;
}